@font-face {
  font-family: Roboto;
  src: url("Roboto-Regular.f50b3c6f.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Medium.eb0c84a5.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("Roboto-Bold.d1aebd9f.ttf");
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: Roboto-medium, Oxygen, sans-serif;
}

h3, p, ul, .page {
  margin: 0;
  padding: 0;
}

.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  display: flex;
}

.logo__img {
  display: block;
}

.menu__list {
  display: flex;
}

.menu__item {
  list-style-type: none;
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  text-transform: uppercase;
  color: #060b35;
  padding: 23px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: none;
  display: block;
}

.menu__link:hover, .is-active {
  color: #00acdc;
}

.is-active:after {
  content: " ";
  background-color: #00acdc;
  border-radius: 8px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.catalog__items {
  margin: 0 auto;
}

.card {
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  max-width: 200px;
  padding: 32px 16px 16px;
  transition: transform .3s ease-in-out;
  display: flex;
}

.card__img {
  max-height: 134px;
  margin: 0 auto 40px;
}

.card__title {
  color: #060b35;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__code {
  color: #616070;
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
}

.card__rating {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.card__rating-review {
  color: #060b35;
  font-size: 10px;
  line-height: 14px;
}

.card__price {
  color: #616070;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 18px;
  display: flex;
}

.card__price-cost {
  color: #060b35;
  font-size: 16px;
  line-height: 18px;
}

.card__link {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #00acdc;
  border-radius: 5px;
  width: 166px;
  height: 40px;
  padding: 12px 70px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.card__link:hover {
  color: #00acdc;
  background-color: #fff;
  border: 1px solid #00acdc;
}

.card:hover {
  transform: scale(1.05);
}

.card-block {
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 944px;
  padding: 50px 0;
  display: flex;
}

.card-block__item:not(:nth-child(4n)) {
  margin-right: 48px;
}

.card-block__item:nth-child(n+5) {
  margin-top: 46px;
}

.stars {
  align-items: center;
  display: flex;
}

.stars__star {
  background-image: url("star.fa806e3c.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:nth-child(-n+4) {
  background-image: url("star-active.2be54011.svg");
}
/*# sourceMappingURL=index.971c2ea4.css.map */
